<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{% block title %}therapytrack{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  {% block head_css %}{% endblock %}
  {% block head_js %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <header>
    {% block header %}
      <h1 style="margin:1rem 0;">therapytrack</h1>
    {% endblock %}
  </header>

  <main>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  <footer>
    {% block footer %}{% endblock %}
  </footer>

  {% block body_js %}{% endblock %}
</body>
</html>
